[submodule "themes/pulp"]
	path = themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "themes/gruvhugo"]
	path = themes/gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
